---
sitename: Мессенджер
title: Чаты
---
{{>header}}
<main>
    <div class="container">
    <div class="sidebar">
        <form class="search-box inline">
            <input type="text" class="search-input" placeholder="Поиск" style="width:68%"/>
            <button class="profile">Профиль</button>
        </form>
        <div class="chat-list">
            <div class="chat-item active">
                <img class="chat-image" src="https://thispersondoesnotexist.com/image"/>
                <div class="chat-text">
                    <b class="chat-title">Иванов Иван</b>
                    <span class="mutted">Привет! Я приехал!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="chat-header">
            <b style="display: flex;">
                <img class="chat-image" src="https://thispersondoesnotexist.com/image"/>
                <span style="align-self: center;">Иванов Иван</span>
            </b>
            <h1 style="width: 50px;height:50px;line-height: 50px;text-align: center;">&#8801;</h1>
        </div>
        <div class="chat-messages">
            <div class="message-block left">
                <div class="message-item">
                    <b class="message-title">Иванов Иван</b>
                    <div class="message-images">
                        <img src="https://thispersondoesnotexist.com/image"/>
                        <img src="https://thispersondoesnotexist.com/image"/>
                        <img src="https://thispersondoesnotexist.com/image"/>
                        <img src="https://thispersondoesnotexist.com/image"/>
                        <img src="https://thispersondoesnotexist.com/image"/>
                    </div>
                    <div class="message-body">
    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
    <br>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                    </div>
                    <small class="message-time">10:20</small>
                </div>
            </div>
            <div class="message-block right">
                <div class="message-item">
                    <b class="message-title">Зинов Никита</b>
                    <div class="message-body">Хорошо</div>
                    <small class="message-time">11:20</small>
                </div>
            </div>
        </div>
        <form class="chat-input-box inline">
            <textarea placeholder="Сообщение"></textarea>
            <input type="submit" value="Отправить"/>
        </form>
    </div>
</div>
</main>
{{>footer}}