---
title: Список страниц
---
{{>header}}
<main>
    <nav class="index-menu">
        <h1>Список страниц сайта</h1>
        <ul>
            <li><a aria-label="Страница регистрации" href="./signup.hbs">Страница регистрации</a></li>
            <li><a aria-label="Страница входа" href="./signin.hbs">Страница входа</a></li>
            <li><a aria-label="Список чатов" href="./chats.hbs">Список чатов</a></li>
            <li><a aria-label="Страница ошибок 404" href="./404.hbs">Страница ошибок 404</a></li>
            <li><a aria-label="Страница ошибок 5**" href="./500.hbs">Страница ошибок 5**</a></li>
        </ul>
    </nav>
</main>
{{>footer}}
