<div class="sidebar">
    <form class="search-box inline">
        <input type="text" class="search-input" placeholder="Поиск" style="width:68%"/>
        <button id="profile-edit-btn" class="profile">Профиль</button>
    </form>
    <div class="chat-list">
        <div class="chat-item active">
            <img alt="Аватар Иванов Иван" class="chat-image" src="https://thispersondoesnotexist.com/image"/>
            <div class="chat-text">
                <b class="chat-title">Иванов Иван</b>
                <span class="mutted">Привет! Я приехал!</span>
            </div>
        </div>
    </div>
</div>
