<div class="chat-box">
    <header class="chat-header">
        <a aria-label="Информация о собеседнике" id="profile-info-btn" style="display:flex;">
            <img alt="Аватар собеседника" class="chat-image" src="https://thispersondoesnotexist.com/image"/>
            <b style="align-self: center;font-size:18px">Иванов Иван</b>
        </a>
        <h1 style="width: 50px;height:50px;line-height: 50px;text-align: center;">&#8801;</h1>
    </header>
    <main class="chat-messages">
        <article class="message-block left">
            <div class="message-item">
                <b class="message-title">Иванов Иван</b>
                <div class="message-images">
                    <img alt="Фото из сообщения 1" src="https://thispersondoesnotexist.com/image"/>
                    <img alt="Фото из сообщения 2" src="https://thispersondoesnotexist.com/image"/>
                    <img alt="Фото из сообщения 3" src="https://thispersondoesnotexist.com/image"/>
                    <img alt="Фото из сообщения 4" src="https://thispersondoesnotexist.com/image"/>
                    <img alt="Фото из сообщения 5" src="https://thispersondoesnotexist.com/image"/>
                </div>
                <div class="message-body">
Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
<br>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                </div>
                <small class="message-time">10:20</small>
            </div>
        </article>
        <article class="message-block right">
            <div class="message-item">
                <b class="message-title">Зинов Никита</b>
                <div class="message-body">Хорошо, посмотрю</div>
                <small class="message-time">11:20</small>
            </div>
        </article>
    </main>
    <footer class="chat-input-box">
        <form class="inline">
            <textarea placeholder="Сообщение"></textarea>
            <input type="submit" value="Отправить"/>
        </form>
    </footer>
</div>
