/* Сброс стиля */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: $main-color;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(255 255 255 / 0%) rgba(255 255 255 / 10%);

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: rgba(255 255 255 / 0%);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(255 255 255 / 10%);
    }
}

body {
    line-height: 1;
    background-color: $main-bg;
}

textarea,
input,
button,
label,
a {
    font-size: 14px;
}

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

input[type="file"] {
    display: none;
}

input[type="reset"],
.btn-red {
    background-color: red;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.btn {
    &:disabled {
        background-color: #448;
    }

    border-radius: 5px;
    border: $default-border;
    padding: 6px 8px;
    background-color: $btn-bg;
    text-align: center;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
    border-radius: 5px;
    border: $default-border;
    padding: 6px 8px;
    background-color: $input-bg;
    color: $main-color;

    &::placeholder {
        color: $placeholder-color;
    }
}

.mutted {
    color: #888;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

/* Стиль форм */

form {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;

    > * {
        margin: 5px 0;
        align-self: stretch;
    }

    fieldset {
        border: none;
        display: flex;
        flex-flow: column nowrap;

        label {
            margin-bottom: 4px;
        }

        > small.error-msg {
            padding-top: 5px;
            color: red;
        }
    }

    &.inline {
        flex-flow: row wrap;
        justify-content: space-around;

        > * {
            margin: 5px;
            flex: 1 1 auto;
        }
    }

    .show-field {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 10px;

        > .show-item {
            flex: 1 1 auto;
            align-self: stretch;
            width: 50%;

            &.left {
                text-align: right;
                padding-right: 10px;
            }

            &.right {
                text-align: left;
                padding-left: 10px;
            }
        }
    }
}
