$main-bg: #0e0e10;
$main-color: #fff;
$sidebar-bg: #1f1f23;
$link-color: #bf94ff;
$btn-bg: #00f;
$default-border: 1px solid #848484;
$input-bg: #222529;
$placeholder-color: #ddd;

@import "reset";
@import "error";
@import "modal";

/* Стиль основной страницы */

.index-menu {
    margin-left: 100px;
    margin-top: 100px;

    h1 {
        margin-bottom: 20px;
    }

    li {
        font-size: 18px;
        margin: 10px;
        list-style-position: inside;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;

    .chat-image {
        max-height: 50px;
        max-width: 50px;
        height: 50px;
        margin: 10px;
        width: auto;
        border-radius: 50%;
    }

    > .sidebar {
        background-color: $sidebar-bg;
        min-width: 400px;
        max-width: 400px;
        width: 400px;
        height: 100%;
        border-right: $default-border;

        > .search-box {
            border-bottom: $default-border;
            padding: 5px;

            > .logout {
                max-width: 15px;
                margin: 0;
                cursor: pointer;
            }

            .profile-image {
                height: 50px;
                margin: 0;
                max-width: 50px;
                border-radius: 50%;
            }
        }

        > .chat-list {
            height: calc(100vh - 71px);
            overflow-y: scroll;
            overflow-x: hidden;
            display: flex;
            flex-flow: column nowrap;
            align-content: flex-start;

            > .chat-item {
                list-style-type: none;
                list-style-position: inside;
                display: flex;
                align-content: flex-start;
                height: 70px;
                border-bottom: $default-border;
                cursor: default;

                &.active {
                    background-color: $main-bg;
                }

                > .chat-text {
                    display: flex;
                    flex-flow: column nowrap;
                    align-content: flex-start;

                    > .chat-title {
                        margin: 10px 0;
                    }
                }
            }
        }

        > .new-chat-btn {
            position: fixed;
            bottom: 10px;
            left: 340px;
            width: 50px;
            height: 50px;
            font-size: 24px;
            font-weight: bold;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    > .chat-box {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
        width: calc(100% - 400px);

        > .chat-header {
            flex: 1 1 auto;
            align-self: stretch;
            background-color: $sidebar-bg;
            max-height: 70px;
            display: flex;
            justify-content: space-between;

            > * {
                display: block;
                align-self: center;
                margin: 10px;
            }

            > .chat-settings {
                font-size: 30px;
            }
        }

        > .settings {
            padding: 20px;

            .user-list {
                flex-flow: column;
                align-content: flex-start;
                display: flex;
                align-items: center;

                >li {
                    flex: auto;
                    justify-content: space-between;
                    align-self: stretch;
                    display: flex;
                    align-items: center;

                    >a {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        > .chat-input-box {
            margin: 20px;
            max-height: 200px;

            input[type="submit"] {
                max-width: 100px;
            }

            label.image-files {
                max-width: 30px;
                font-size: 30px;
                text-align: center;
            }

            .chat-input-images {
                margin-top: -110px;
                position: absolute;

                img {
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }

        > .chat-messages {
            align-self: stretch;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            flex-flow: column nowrap;
            margin-top: auto;

            > .message-block {
                display: flex;
                flex-flow: row nowrap;

                > .message-item {
                    max-width: 80%;
                    background-color: $sidebar-bg;
                    padding: 10px;
                    margin: 10px;

                    > .message-title {
                        margin-bottom: 5px;
                        display: block;
                    }

                    > .message-images {
                        display: flex;
                        margin-bottom: 5px;
                        flex-flow: row wrap;

                        > img {
                            display: block;
                            max-height: 200px;
                            max-width: 200px;
                            flex: 1 1 200px;
                            margin: 2px;
                        }
                    }

                    > .message-time {
                        text-align: right;
                        margin-top: 5px;
                        display: block;
                    }
                }

                &.right {
                    justify-content: flex-end;

                    >.message-item {
                        border-radius: 5px 5px 0;
                    }
                }

                &.left {
                    justify-content: flex-start;

                    > .message-item {
                        border-radius: 5px 5px 5px 0;
                    }
                }
            }
        }
    }
}
