/*Модальное окно*/
.modal{
    background-color: $sidebar-bg;
    position: relative;
    top:10vh;
    border-radius: 5px;
    border: $default-border;
    padding: 10px;
    left: calc(50vw - 300px);
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    >.modal-title{
        border-bottom: $default-border;
        padding: 10px 0;
        padding-top: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        >*{
            align-self: center;
        }
        .modal-close{
            display: block;
            text-align: center;
            padding: 0px 4px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    >.modal-footer{
        border-top: $default-border;
        padding: 10px 0;
        padding-bottom: 5px;
        margin-top: 10px;
        text-align: right;
    }
    &.small{
        left: calc(50vw - 200px);
        width: 400px;
    }
    &.medium{
        left: calc(50vw - 300px);
        width: 600px;
    }
    &.big{
        left: calc(50vw - 500px);
        width: 1000px;
    }
}
